@import "tailwindcss";

@theme {
  --color-duoc-yellow: #FAB21B;
  --color-duoc-blue: #00213E;
  --color-duoc-white: #FFFFFF;
  --color-duoc-gray: #CFD4D8;
}

@theme inline {
  --color-background: var(--color-duoc-white);
  --color-foreground: var(--color-duoc-blue);
  --font-sans: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.25);
  }
}

@layer utilities {
  .animate-heartbeat {
    animation: heartbeat 1.2s infinite ease-in-out;
  }
}

@keyframes slideInRightDl {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-slide-in-right-dl {
    animation: slideInRightDl 0.3s ease-out;
  }
}